@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300, 100%, 99%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 200, 5%, 12%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-bold;
  }
}

.border-gradient {
  border: 2px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #ff00001a 0%, #1c1e1f 100%);
  border-radius: 30px;
}

.divider-gradient {
  background: rgb(30, 28, 31);
  background: linear-gradient(
    90deg,
    rgba(30, 28, 31, 0.3) 0%,
    rgba(30, 28, 31, 1) 20%,
    rgba(30, 28, 31, 1) 80%,
    rgba(30, 28, 31, 0.3) 100%
  );
}

.divider-gradient-dark {
  background: rgb(30, 28, 31);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.menu-item-light-right {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    270deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.menu-item-light-left {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.menu-item-dark-left {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.menu-item-dark-right {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    270deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.gradient-text-light {
  background-image: linear-gradient(153deg, #ffffff83, #fff);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-text-dark {
  background-image: linear-gradient(153deg, #1e1c1f3a, #1e1c1f 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-text-redish {
  background-image: linear-gradient(153deg, #ff0000, #ffffff 50%, #fff 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.btn-clip {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 90% 75%, 90% 100%, 0 100%);
}

.bg-main-section {
  background: linear-gradient(
    180deg,
    rgba(30, 28, 31, 1) 0%,
    rgba(30, 28, 31, 0.5) 40%,
    rgba(30, 28, 31, 1) 50%,
    rgba(30, 28, 31, 1) 100%
  );
}

.clip-right {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  transform: translateX(10%);
}

.clip-left {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  transform: translateX(-10%);
}

.clip-both {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  transform: translateX(0);
}

.clip-pen {
  clip-path: none;
}

.clip-hep {
  clip-path: polygon(100% 0, 100% 10%, 91% 20%, 75% 20%, 75% 100%, 0 100%, 0 0);
}

@media screen and (min-width: 980px) {
  .bg-main-section {
    background: linear-gradient(
      180deg,
      rgba(30, 28, 31, 1) 0%,
      rgba(30, 28, 31, 0.5) 40%,
      rgba(30, 28, 31, 1) 60%,
      rgba(30, 28, 31, 1) 100%
    );
  }

  .clip-pen {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 95% 100%, 0 100%);
  }
}

@media screen and (min-width: 1480px) {
  .bg-main-section {
    background: linear-gradient(
      180deg,
      rgba(30, 28, 31, 1) 0%,
      rgba(30, 28, 31, 0.5) 60%,
      rgba(30, 28, 31, 1) 80%,
      rgba(30, 28, 31, 1) 100%
    );
  }
}

.bg-gradient-to-b-light {
  background: linear-gradient(
    180deg,
    #ffffff00 0%,
    #ffffff00 70%,
    #fff9ff 80%,
    #fff9ff 100%
  );
}

