@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clip-title {
  clip-path: none;
}

.slider-carousel {
  position: absolute;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-container {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.h-calc-screen {
  height: 320px;
}

@media screen and (min-width: 1180px) {
  .h-calc-screen-lg {
    height: calc(100vh - 90px) !important;
  }
}

@media screen and (min-width: 640px) {
  .h-calc-screen {
    height: calc(100vh - 122px);
  }

  .clip-title {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }

  .clip-title-sm {
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
  }
}
